@CHARSET "UTF-8";

#Inquire_title{
	font-size:24px;
	padding: 20px 0;
}

#b_coustomer table{
	width:100%;
	height:180px;
	border:1px solid #000;
}
tr{
	border:1px solid #000;
}
.Inquire_subtitle{
	font-size:20px;
	padding: 10px 0;
}
#b_inquire{
	margin-top:40px;
}
#b_inquire table{
	width:100%;
	height:250px;
}
#b_inquire textarea{
	width:80%;
	height:100px;
}


.Inquire_left{
	width:20%;
}