@CHARSET "UTF-8";

/* header, footer .css */

/* header.css */
#common_header{ width:100%; margin-bottom:30px; position:fixed; background:white}


.top_gnb{width:100%; background:black;}
.gnb_con{ max-width:1100px; min-width:880px; margin:0 auto; overflow:hidden; padding:7px 0px; }
.top_div{ max-width:600px; overflow:hidden; }
.top_div li{ float:left; overflow:hidden; color:white; }
.top_div li a{color:white; padding-left:20px; font-size:0.8em; }

/* 대메뉴 */
.l_list{z-order:0; width:100%; min-width:1100px; overflow:hidden; border-bottom:solid 2px black}
.l_list_ma{z-order:0; margin:0 auto; width:1100px; overflow:hidden; }
.l_list_ma li{ float:left; overflow:hidden; margin-right:50px; }
.l_list_ma li a{ font-size:1em; color:black; font-weight:bold; padding:20px 0px; display:inline-block }

/* 카테고리-소메뉴 */
.s_list_con{ margin:0 auto; width:1100px; overflow:hidden; display:none; padding:20px 0px; }
.s_list_con ul{ float:left; overflow:hidden; margin-right:50px; }
.s_list_con ul:nth-child(2){ width:120px; margin-right:12px}
.s_list_con ul:nth-child(3){ width:145px; }
.s_list_con ul:nth-child(4){ width:120px; }
.s_list_con ul:nth-child(5){ width:130px; margin-right:45px; }
.s_list_con ul:nth-child(6){ width:120px; margin-right:0px; }
.s_list_con ul li{ margin-bottom:20px; font-size:0.7em; }
.s_list_con ul li a{ color:#999999; }
.s_list_con ul li a:hover{ color:black }
.gong_back{ border:solid 1px red; width:220px; height:80px; margin-right:50px; float:left; overflow:hidden;}







